 body.light {
    text-align: center;
    background-color: whitesmoke;
    color: black;
 }

 body.dark {
    text-align: center;
    background-color: #121212;
    color: white;
 }

 /* body {
    background-color: gray;
    color: whitesmoke;
    text-align: center;
 } */